In [34]:
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql
import seaborn as sns
import sqlalchemy
import pprint
import matplotlib.pyplot as plt
sns.set()

In [35]:
from sqlalchemy import create_engine

In [39]:
# Database connection string
conn_string = "host="+ creds.PGHOST +" port="+ "5432" +" dbname="+ creds.PGDATABASE +" user=" + creds.PGUSER \
+" password="+ creds.PGPASSWORD
conn=psycopg2.connect(conn_string)
print(f"PostgreSQL Database {creds.PGDATABASE} is connected!")
cursor = conn.cursor()

NameError: name 'creds' is not defined

In [40]:
def load_data(schema='public', table='employees', query=None):
    if query == None:
        sql_command = "SELECT * FROM {}.{};".format(str(schema), str(table))
    else: sql_command = query
    print ('Query:',sql_command)
    # Load the data
    data = pd.read_sql(sql_command, conn)
    print('Data shape:',data.shape)
    return (data)

In [41]:
empl_data = load_data()
empl_data.head()

Query: SELECT * FROM public.employees;

NameError: name 'conn' is not defined

In [42]:
    SELECT e.first_name, e.last_name, e.sex, d.dept_name, t.title, s.salary
    FROM employees AS e
    INNER JOIN salary AS s USING (emp_no)
    INNER JOIN dept_employees USING (emp_no)
    INNER JOIN departments AS d USING (dept_no)
    INNER JOIN title AS t ON e.emp_title_id = t.title_id;
    """
sal_data = load_data(query=salary_request)
sal_data.head()

SyntaxError: invalid syntax (<ipython-input-42-e5e491a05527>, line 1)

In [43]:
sal_data['salary'].describe()

NameError: name 'sal_data' is not defined

In [44]:
= sns.distplot(sal_data['salary'])
_ = plt.title('Employees Salary Distribution', fontsize=12)

SyntaxError: invalid syntax (<ipython-input-44-dc281908ad1d>, line 1)

In [45]:
title_data = sal_data.groupby('title')['salary'].mean().sort_values()
_ = title_data.plot(kind='barh')
_ = plt.title('Average Salary by Title', fontsize=12)

NameError: name 'sal_data' is not defined

In [46]:
= sns.boxplot(sal_data['sex'], sal_data['salary'])
_ = plt.title('Salary vs Gender Box Plot', fontsize=12)

SyntaxError: invalid syntax (<ipython-input-46-07bb52eed35f>, line 1)

In [47]:
managers_request = """
    SELECT e.first_name, e.last_name, dm.dept_no, d.dept_name, s.salary
    FROM dept_managers AS dm
    INNER JOIN departments AS d USING (dept_no)
    INNER JOIN employees AS e USING (emp_no)
    INNER JOIN salary AS s USING (emp_no);
    """
man_data = load_data(query=managers_request)
man_data

Query:
    SELECT e.first_name, e.last_name, dm.dept_no, d.dept_name, s.salary
    FROM dept_managers AS dm
    INNER JOIN departments AS d USING (dept_no)
    INNER JOIN employees AS e USING (emp_no)
    INNER JOIN salary AS s USING (emp_no);

NameError: name 'conn' is not defined

In [48]:
title_man_data = man_data.groupby('dept_name')['salary'].mean().sort_values()
_ = title_man_data.plot(kind='barh')
_ = plt.title('Average Management Salary by Department', fontsize=12)

NameError: name 'man_data' is not defined

In [50]:
cursor.close()
conn.close()

NameError: name 'cursor' is not defined